@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Prompt", ui-sans-serif, system-ui, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Prompt", sans-serif;
  background-color: #FAFAF9; /* stone-50 */
  color: #292524; /* stone-800 */
}
